body {
	background-color: black;
}
.lettering {
	color: red;
	text-align: center;
}
.moi {
	position: relative;
	
	left: 585px;
	
}
.ghost{
	position: relative;
	bottom: 20px;
	left: 50px;
	margin: 50px;
	height: 200px;
	width: 300px;
}
.rush{
	position: relative;
	left: 50px;
	bottom: 20px;
	margin: 50px;
	height: 200px;
	width: 300px;
}
.metallica{
	position: relative;
	left: 50px;
	bottom: 20px;
	margin: 50px;
	height: 200px;
	width: 300px;
}
#fave{
	font-family: arial;


	